:root {
    --bg-color: #f0f0f0;
    --accent-color: #d72c16;
    --text-color: #1b1d1f;
    --font-family: "firstTimeWriting", sans-serif;
    --transition-ms: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button,
a {
    cursor: pointer;
}

body{
    font-family: var(--font-family);
    background-color: var(--bg-color);
}


header,
footer{
    padding-left: 30px;
    padding-right: 30px;
}

section{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    section {
            width: 708px;
            margin-left: auto;
            margin-right: auto;
        }
}

@media (min-width: 1280px) {
    section {
        width: 1220px;
        margin-left: auto;
        margin-right: auto;
    }
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 5;
    background-color: var(--bg-color);
    border-bottom: 0.5px solid var(--text-color);

}

.header-box{
    display: flex;
    width: 300px;
    align-items: center;
}


@media (min-width: 768px) {
    .header-box {
            display: flex;
            width: 708px;
            align-items: center;
        }
}

@media (min-width: 1280px) {
    .header-box {
            display: flex;
            align-items: center;
            width: 1220px;
        }
}



.header-logo{
 width: 60px;
 height: 60px;
}

@media (min-width: 768px) {
    .header-logo {
            width: 80px;
            height: 80px;
        }
}

@media (min-width: 1280px) {
    .header-logo {
            width: 88px;
            height: 88px;
        }
}

.header-name{
    font: 400 20px var(--font-family);
    text-align: center;
    color: var(--accent-color);
    margin-right: auto;
    transition: var(--transition-ms);
}

.header-name:hover {
    font: 400 22px var(--font-family);
    text-align: center;
    color: var(--text-color);
    margin-right: auto;
    transition: var(--transition-ms);
}



@media (min-width: 768px) {
    .header-name {
    font: 400 32px var(--font-family);
    margin-right: 2auto;
    text-align: center;
    color: var(--accent-color);
    transition: var(--transition-ms);
    }

        .header-name:hover {
            font: 400 34px var(--font-family);
            text-align: center;
            color: var(--text-color);
            margin-right: auto;
            transition: var(--transition-ms);
        }
}

@media (min-width: 1280px) {
    .header-name {
    font: 400 40px var(--font-family);
    margin-right: auto;
    text-align: center;
    color: var(--accent-color);
    transition: var(--transition-ms);
    }

        .header-name:hover {
            font: 400 42px var(--font-family);
            text-align: center;
            color: var(--text-color);
            margin-right: 2auto;
            transition: var(--transition-ms);
        }
}

.header-modal-open-svg{
    display: block;
}

@media (min-width:768px) {
.header-modal-open-svg {
        display: block;
    }
}
@media (min-width: 1280px) {
.header-modal-open-svg {
        display: none;
    }
}

.header-nav-list{
    display: flex;
    align-items: center;
    gap: 21px;
}

@media (max-width: 1279px){
    .header-nav-list {
            display: none;
           
        }
}

.header-nav-links-active{
      font: 400 22px var(--font-family);
      text-align: center;
      width: 85px;
      color: var(--accent-color);
      transition: var(--transition-ms);
}

.header-nav-links-active:hover {
    font: 400 24px var(--font-family);
    text-align: center;
    color: var(--text-color);
    transition: var(--transition-ms);
}



.header-nav-links {
    font: 400 22px var(--font-family);
    text-align: center;
    width: 85px;
    color: var(--text-color);
    transition: var(--transition-ms);
}

.header-nav-links:hover {
    font: 400 24px var(--font-family);
    text-align: center;
    color: var(--accent-color);
    transition: var(--transition-ms);

}

.project-footer {
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}

@media (min-width: 768px) {
    .project-footer {
        display: flex;
        width: 708px;
        align-items: flex-end;
        padding-bottom: 24px;
        justify-content: space-between;
    }
}

@media (min-width: 1280px) {
    .project-footer {
        display: flex;
        width: 1220px;
        align-items: flex-end;
        padding-bottom: 24px;
        justify-content: space-between;
    }
}

.project-footer-txt {
    font: 400 16px var(--font-family);
    letter-spacing: 0.05em;
    color: var(--accent-color);
    margin-bottom: 12px;
}

@media (min-width: 768px) {
    .project-footer-txt {
        font: 400 20px var(--font-family);
        letter-spacing: 0.05em;
        color: var(--accent-color);
        margin-bottom: 0;
    }
}

@media (min-width: 1280px) {
    .project-footer-txt {
        font: 400 24px var(--font-family);
        letter-spacing: 0.05em;
        margin-bottom: 0;
        color: var(--accent-color);
    }
}

.button-footer {
    width: 129px;
    height: 45px;
    font: 400 16px var(--font-family);
    text-align: center;
    color: var(--bg-color);
    border-radius: 10px;
    background-color: var(--accent-color);
    transition: var(--transition-ms);
}

.button-footer:hover {
    color: var(--accent-color);
    background-color: var(--bg-color);
    border: 1px solid var(--accent-color);
    transition: var(--transition-ms);
}

@media (min-width: 768px) {
    .button-footer {
        width: 108px;
        height: 41px;
        font: 400 16px var(--font-family);
        text-align: center;
        background-color: var(--accent-color);
        color: var(--bg-color);
        border-radius: 10px;
    }
}

@media (min-width: 1280px) {
    .button-footer {
        width: 169px;
        height: 59px;
        font: 400 24px var(--font-family);
        text-align: center;
        background-color: var(--accent-color);
        color: var(--bg-color);
        border-radius: 10px;
    }
}

.footer-logo {
    width: 45px;
    height: 45px;
    margin-right: 16px;
    align-items: flex-end;
}

@media (min-width: 768px) {
    .footer-logo {
        width: 55px;
        height: 55px;
        margin-right: 225px;
    }
}

@media (min-width: 1280px) {
    .footer-logo {
        width: 88px;
        height: 88px;
        margin-right: 410px;
    }
}

.footer-box {
    align-items: flex-end;
    display: flex;
}

.invisible {
    display: none;
}


.modal-ja {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.modal-content-ja {
    background: var(--bg-color);
    width: 300px;
    height: 200px;
    padding: 24px;
    border-radius: 12px;
    text-align: center;
}

.modal-text-ja{
    margin-bottom: 50px;
    margin-top: 40px;
    font: 400 28px var(--font-family);
}

.modal-btn-block{
  display: flex;
  gap: 50px;
}

.modal-btn-ja{
    width: 129px;
    height: 45px;
    font: 400 20px var(--font-family);
    text-align: center;
    color: var(--bg-color);
    border-radius: 10px;
    background-color: var(--accent-color);
    transition: var(--transition-ms);
}

.modal-btn-ja:hover {
    width: 129px;
    height: 45px;
    font: 400 20px var(--font-family);
    text-align: center;
    color: var(--accent-color);
    border-radius: 10px;
    background-color: var(--bg-color);
    transition: var(--transition-ms);
    border: 1px solid var(--accent-color);
}











