@font-face {
    font-family: 'firstTimeWriting';
    src: url(../fonts/First-Time-Writing.ttf);
}

:root {
    --bg-color: #f0f0f0;
    --accent-color: #d72c16;
    --text-color: #1b1d1f;
    --font-family: "firstTimeWriting", sans-serif;
    --transition-ms: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@import url(./reset.scss);
@import url(./style/projects.scss);
@import url(./style/biography.scss);
@import url(./style/gallery.scss);
@import url(./style/contact.scss);
@import url(./style/modal.scss);
