.project-projects-weapons-div{
    margin-top: 56px;
    width: 300px;
    display: block;
    text-align: center;
}


@media (min-width: 768px) {
    .project-projects-weapons-div {
            margin-top: 64px;
            width: 708px;
        }
}


@media (min-width: 1280px) {
    .project-projects-weapons-div {
        margin-top: 68px;
        width: 1220px;
    }
}

.project-projects-weapons-title{
     font: 400 32px var(--font-family);
     letter-spacing: 0.05em;
     text-align: center;
     color: var(--accent-color);
      padding-top: 30px;
      border-top: 1px solid var(--text-color);
      margin-bottom: 36px;
}

@media (min-width: 768px) {
    .project-projects-weapons-title {
            font: 400 36px var(--font-family);
            padding-top: 32px;
            margin-bottom: 44px;
        }
}


@media (min-width: 1280px) {
    .project-projects-weapons-title {
            font: 400 48px var(--font-family);
            padding-top: 44px;
            margin-bottom: 44px;
        }
}

.project-projects-weapons-javelin-content-box {
    margin-bottom: 24px;
}

@media (min-width: 768px) {
    .project-projects-weapons-javelin-content-box {
            margin-bottom: 32px;
        }
}


@media (min-width: 1280px) {
    .project-projects-weapons-javelin-content-box {
            margin-bottom: 44px;
        }
}

.project-projects-weapons-javelin-content-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-projects-weapons-javelin-box-2 {
    display: flex;
    flex-direction: column;
}

@media (max-width: 767px) {
    .project-projects-weapons-javelin-box-1 {
           margin-bottom: 24px;
        }
}

@media (min-width: 768px) {
    .project-projects-weapons-javelin-content-box {
        flex-direction: row;
    }

    .project-projects-weapons-javelin-box-1 {
        order: 2;
        flex: 1;
    }

    .project-projects-weapons-javelin-box-2 {
        order: 1;
        flex: 1;
    }

    .project-projects-weapons-javelin-box-2 img {
        order: 1;
    }

    .project-projects-weapons-javelin-box-2 p {
        order: 2;
    }
}

@media (max-width: 767px) {
    .project-projects-weapons-javelin-box-2 img {
        order: 2;
    }

    .project-projects-weapons-javelin-box-2 p {
        order: 1;
    }
}

.project-projects-weapons-javelin-txt {
    margin-bottom: 16px;
    color: var(--text-color);
    font: 400 18px var(--font-family);
    width: 280px;
    text-align: left;
}

@media (min-width: 768px) {
    .project-projects-weapons-javelin-txt {
        font: 400 15px var(--font-family);
        width: 320px;
        text-align: right;
        margin-left: auto;
    }

}

@media (min-width: 1280px) {
    .project-projects-weapons-javelin-txt {
        font: 400 24px var(--font-family);
        width: 550px;
    }
}

.project-projects-weapons-javelin-txt {
    margin-bottom: 16px;
    color: var(--text-color);
    font: 400 18px var(--font-family);
    width: 280px;
}

@media (min-width: 768px) {
    .project-projects-weapons-javelin-txt {
        font: 400 16px var(--font-family);
        width: 320px;
        text-align: right;
        margin-left: auto;
    }

}

@media (min-width: 1280px) {
    .project-projects-weapons-javelin-txt {
        font: 400 24px var(--font-family);
        width: 550px;
        margin-bottom: 24px;
    }
}

.project-projects-weapons-javelin-txt-second {
    color: var(--text-color);
    font: 400 18px var(--font-family);
    width: 300px;
    text-align: left;
    margin-bottom: 16px;
}

@media (min-width: 768px) {
    .project-projects-weapons-javelin-txt-second {
        font: 400 16px var(--font-family);
        width: 320px;
        margin-bottom: 0;
        text-align: left;
    }

}

@media (min-width: 1280px) {
    .project-projects-weapons-javelin-txt-second {
        font: 400 24px var(--font-family);
        width: 550px;
    }
}



.project-projects-weapons-javelin-title {
    font: 400 24px var(--font-family);
    letter-spacing: 0.05em;
    color: var(--text-color);
    text-align: center;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .project-projects-weapons-javelin-title {
        font: 400 32px var(--font-family);
        text-align: right;
    }

}

@media (min-width: 1280px) {
    .project-projects-weapons-javelin-title {
        font: 400 38px var(--font-family);
    }
}

.help-box{
    margin-left: auto;
    width: 300px;
}

@media (min-width: 768px) {
    .help-box {
            margin-left: auto;
            width: 320px;
        }

}

@media (min-width: 1280px) {
    .help-box {
            margin-left: auto;
            width: 550px;
        }
}


.project-projects-weapons-shell-title {
    font: 400 24px var(--font-family);
    letter-spacing: 0.05em;
    text-align: center;
    margin-top: 34px;
    margin-bottom: 16px;
}

@media (min-width: 768px) {
    .project-projects-weapons-shell-title {
        font: 400 40px var(--font-family);
        margin-top: 40px;
        margin-bottom: 20px;
    }

}

@media (min-width: 1280px) {
    .project-projects-weapons-shell-title {
        font: 400 40px var(--font-family);
        margin-top: 44px;
    }
}


.project-projects-weapons-javelin-img{
    width: 300px;
}


@media (min-width: 768px) {
    .project-projects-weapons-javelin-img {
      width: 320px;
      margin-left: auto;
    }

}

@media (min-width: 1280px) {
.project-projects-weapons-javelin-img {
    width: 550px;
    margin-left: auto;
}

}

.project-projects-weapons-img-main {
    width: 300px;
}


@media (min-width: 768px) {
    .project-projects-weapons-img-main {
        width: 320px;
        margin-bottom: 16px;
        margin-right: auto;
    }

}

@media (min-width: 1280px) {
    .project-projects-weapons-img-main {
        width: 550px;
        margin-bottom: 24px;
        margin-right: auto;
    }

}

.project-projects-weapons-javelin-last{
    width: 300px;
}

@media (min-width: 768px) {
    .project-projects-weapons-javelin-last {
            width: 708px;
        }

}

@media (min-width: 1280px) {
    .project-projects-weapons-javelin-last {
            width: 1220px;
        }

}


.project-projects-weapons-shell-text{
    margin-bottom: 28px;
    color: var(--text-color);
    font: 400 18px var(--font-family);
    width: 280px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .project-projects-weapons-shell-text {
    color: var(--text-color);
        font: 400 15px var(--font-family);
        width: 700px;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }

}

@media (min-width: 1280px) {
    .project-projects-weapons-shell-text {
    color: var(--text-color);
        font: 400 24px var(--font-family);
        width: 950px;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }
}

.project-projects-weapons-shell-list {
    display: block;
    padding-left: 50px;
    margin-bottom: 48px;
}

@media (min-width: 768px) {
    .project-projects-weapons-shell-list {
        display: flex;
        margin-bottom: 90px;
        padding-left: 0;
        justify-content: space-around;
    }
}

@media (min-width: 1280px) {
    .project-projects-weapons-shell-list {
        display: flex;
        padding-left: 0;
        margin-bottom: 105px;
        justify-content: space-around;
    }
}

.project-projects-weapons-shell-li {
    width: 200px;
    height: 405px;
    margin-bottom: 28px;
}

@media (min-width: 768px) {
    .project-projects-weapons-shell-li {
        width: 150px;
        height: 304px;
        margin-bottom: 0;
    }
}

@media (min-width: 1280px) {
    .project-projects-weapons-shell-li {
        width: 232px;
        height: 470px;
        margin-bottom: 0;
    }
}

.invisible {
    display: none;
}