.gallery-section {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    width: 320px;
}

@media (min-width: 768px) {
    .gallery-section {
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        justify-content: center;
        width: 744px;
    }
}

@media (min-width: 1280px) {
    .gallery-section {
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        justify-content: center;
        width: 1220px;
    }
}

/* .gallery-bg-img {
    width: 360px;
    height: 360px;
    position: absolute;
    z-index: -2;
    filter: blur(3px);
    opacity: 0.8;
}

@media (min-width: 768px) {
    .gallery-bg-img {
        width: 744px;
        height: 744px;
        position: absolute;
        z-index: -2;
        filter: blur(6px);
        opacity: 0.8;
    }
}

@media (min-width: 1280px) {
    .gallery-bg-img {
        width: 700px;
        height: 600px;
        position: absolute;
        z-index: -2;
        filter: blur(8px);
        opacity: 0.8;
    }
} */

.gallery-txt {
    font: 400 24px var(--font-family);
    text-align: center;
    -webkit-text-stroke: 0.5px var(--accent-color);
    color: var(--accent-color);
}

@media (min-width: 768px) {
    .gallery-txt {
        font: 400 32px var(--font-family);
        text-align: center;
        -webkit-text-stroke: 0.5px var(--accent-color);
        color: var(--accent-color);
    }
}

@media (min-width: 1280px) {
    .gallery-txt {
        font: 400 36px var(--font-family);
        text-align: center;
        -webkit-text-stroke: 0.5px var(--accent-color);
        color: var(--accent-color);
    }
}


.gallery-title {
    font: 400 40px var(--font-family);
    text-align: center;
    padding-bottom: 4px;
    color: var(--accent-color);
    margin-bottom: 20px;
    margin-top: 20px;
}

@media (min-width:768px) {
    .gallery-title {
        font: 400 52px var(--font-family);
        margin-bottom: 16px;
        margin-top: 24px;
    }
}


@media (min-width:1280px) {
    .gallery-title {
        font: 400 72px var(--font-family);
        margin-bottom: 28px;
        margin-top: 28px;
    }

}

.block-2023-year-list{
    display: flex;
    gap: 20px;
    
}

.block-2023-title{
  font: 400 24px var(--font-family);
  color: var(--accent-color);
  margin-bottom: 36px;
  transition: var(--transition-ms);
}


@media (min-width:768px) {
    .block-2023-title {
            font: 400 44px var(--font-family);
            margin-bottom: 32px;
        }
}


@media (min-width:1280px) {
    .block-2023-title {
            font: 400 56px var(--font-family);
            margin-bottom: 40px;
        }

}

.block-2023-title-sec {
    font: 400 14px var(--font-family);
    margin-bottom: 36px;
    transition: var(--transition-ms);
}

.block-2023-title-sec:focus,
.block-2023-title-sec:hover {
    font: 400 16px var(--font-family);
    color: var(--accent-color);
    margin-bottom: 36px;
    transition: var(--transition-ms);
}

@media (min-width:768px) {
    .block-2023-title-sec {
        font: 400 32px var(--font-family);
        margin-bottom: 32px;
        transition: var(--transition-ms);
    }

        .block-2023-title-sec:focus,
        .block-2023-title-sec:hover {
            font: 400 34px var(--font-family);
            color: var(--accent-color);
            margin-bottom: 36px;
            transition: var(--transition-ms);
        }
}


@media (min-width:1280px) {
    .block-2023-title-sec {
        font: 400 36px var(--font-family);
        margin-bottom: 40px;
        transition: var(--transition-ms);
    }

        .block-2023-title-sec:focus,
        .block-2023-title-sec:hover {
            font: 400 38px var(--font-family);
            color: var(--accent-color);
            margin-bottom: 36px;
            transition: var(--transition-ms);
        }

}








.block-2023-art-list{
   text-align: center;
   align-items: center;
}
.block-2023-art-img{
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 4px;
}

@media (min-width:768px) {
    .block-2023-art-img {
            margin-bottom: 8px;
        }
}


@media (min-width:1280px) {
    .block-2023-art-img {
           margin-bottom: 16px; 
        }
}

.gallery-photo-1{
    width: 280px;
}

@media (min-width:768px) {
    .gallery-photo-1 {
            width: 520px;
        }
}


@media (min-width:1280px) {
    .gallery-photo-1 {
            width: 400px;
        }
}

.block-2023-art-name{
    font: 400 22px var(--font-family);
    margin-bottom: 2px;
}

@media (min-width:768px) {
    .block-2023-art-name {
            font: 400 22px var(--font-family);
            margin-bottom: 4px;
        }
}


@media (min-width:1280px) {
    .block-2023-art-name {
            font: 400 28px var(--font-family);
            margin-bottom: 4px;
        }
}

.block-2023-art-dic {
    font: 400 15px var(--font-family);
    margin-bottom: 44px;
}

@media (min-width:768px) {
    .block-2023-art-dic {
        font: 400 20px var(--font-family);
        margin-bottom: 60px;
    }
}


@media (min-width:1280px) {
    .block-2023-art-dic {
        font: 400 20px var(--font-family);
        margin-bottom: 72px;
    }
}

.gallery-photo-2{
    width: 280px;
}

@media (min-width:768px) {
    .gallery-photo-2 {
            width: 350px;
           
        }
}


@media (min-width:1280px) {
    .gallery-photo-2 {
            width: 380px;
        }
}

.gallery-photo-2-2 {
    width: 150px;
    height: 190px;
}

@media (min-width:768px) {
    .gallery-photo-2-2 {
        width: 350px;
        height: 100%;
    }
}


@media (min-width:1280px) {
    .gallery-photo-2-2 {
        width: 400px;
    }
}

.DEEPER-PHOTO {
    height: 190px;
}

@media (min-width:768px) {
    .DEEPER-PHOTO {
        
        height: 445px;
    }
}

/* .CHILDREN-PHOTO {
    height: 190px;
} */

@media (min-width:768px) {
    .CHILDREN-PHOTO {

        height: 490px;
    }
}


@media (min-width:1280px) {
    .DEEPER-PHOTO {
        height: 500px;
    }
}

.gallery-photo-3 {
    width: 280px;
}

@media (min-width:768px) {
    .gallery-photo-3 {
        width: 500px;
    }
}


@media (min-width:1280px) {
    .gallery-photo-3 {
        width: 400px;
    }
}

.gallery-photo-4 {
    width: 280px;
}

@media (min-width:768px) {
    .gallery-photo-4 {
        width: 700px;
    }
}


@media (min-width:1280px) {
    .gallery-photo-4 {
        width: 600px;
    }
}

.block-2023-art-name-helpBlock{
    
    display: flex;
}

.block-2023-art-name-5{
    margin-left: auto;
    margin-right: auto;
}

.block-2023-art-img-block-5{
    display: block;
}

@media (min-width:768px) {
    .block-2023-art-img-block-5 {
            display: flex;
            /* justify-content: space-between; */
    
        }
}


.block-2023-art-name-5-1{
    margin-bottom: 20px;
}

@media (min-width:768px) {
    .block-2023-art-name-5-1 {
            margin-bottom: 0px;
            margin-left: auto;
                margin-right: auto;
        }
}


@media (min-width:768px) {
    .block-2023-art-img-block-5-help-1 {
        margin-right: 30px;
        margin-left: auto;
    }
}

@media (min-width:768px) {
    .block-2023-art-img-block-5-help-2 {
        margin-right: auto;
        margin-left: 30px;
    }
}

@media (min-width:1280px) {
    .block-2023-art-img-block-5-help-1{
        margin-right: 50px;
        margin-left: auto;
    }
}

@media (min-width:1280px) {
    .block-2023-art-img-block-5-help-2 {
        margin-right: auto;
        margin-left: 50px;
    }
}

.block-2022-title{
    text-align: center;
    font: 400 24px var(--font-family);
    margin-bottom: 12px;
}

@media (min-width:768px) {
    .block-2022-title {
            text-align: center;
            margin-bottom: 12px;
            font: 400 32px var(--font-family);
        }
}

@media (min-width:1280px) {
    .block-2022-title {
            text-align: center;
            margin-bottom: 16px;
            font: 400 40px var(--font-family);
        }
}

.block-2022-dic {
    text-align: center;
    font: 400 14px var(--font-family);
    margin-bottom: 20px;
}

@media (min-width:768px) {
    .block-2022-dic {
        margin-bottom: 24px;
        font: 400 18px var(--font-family);
    }
}

@media (min-width:1280px) {
    .block-2022-dic {
        margin-bottom: 32px;
        width: 900px;
        margin-right: auto;
        margin-left: auto;
        font: 400 24px var(--font-family);
    }
}









