/* .project-hero-section{
    position: relative;
    z-index: -1;
}

.project-bg-img{
    width: 360px;
    height: 302px;
} */


.project-hero-section{
    background-size: cover;
    background-position: 100% 100%;
    min-width: 100%;
    z-index: -1;
    background-image: url(../../img/hero-bg-360px.jpg);
}

@media (min-width: 768px){
.project-hero-section {
    background-size: cover;
    background-position: 100% 100%;
    min-width: 100%;
    background-image: url(../../img/Hero-bg-PC.jpg);
    }
}

@media (min-width: 1280px) {
    .project-hero-section {
        background-size: cover;
        background-position: 100% 100%;
        min-height: 100%;
        max-width: 1280px;
        padding-bottom: 93px;
        padding-top: 420px;
        background-position: top center;
        background-image: url(../../img/Hero-bg-PC.jpg);
    }
}

.project-hero-title{
    font: 700 28px 'Montserrat';
    color: var(--bg-color);
    padding-left: 30px;
    margin-bottom: 18px;
}

@media (min-width: 768px) {
    .project-hero-title {
            font: 700 48px 'Montserrat';
            color: var(--bg-color);
            padding-left: 40px;
            margin-bottom: 18px;
        }
}

@media (min-width: 1280px) {
    .project-hero-title {
            font: 700 54px 'Montserrat';
            color: var(--bg-color);
            padding-left: 142px;
            margin-bottom: 12px;
        }
}

.project-hero-btn{
    width: 91px;
    height: 39px;
    border-radius: 10px;
    opacity: 80%;
    margin-left: 30px;
    font: 400 12px "Comfortaa";
    text-align: center;
    z-index: -1;
    color: var(--bg-color);
    background-color: var(--accent-color);
}

.project-hero-btn:hover {
    color: var(--accent-color);
    background-color: var(--bg-color);
    transition: var(--transition-ms);
}

@media (min-width: 768px) {
    .project-hero-btn {
            width: 120px;
            height: 47px;
            border-radius: 10px;
            opacity: 80%;
            margin-left: 30px;
            font: 400 15px "Comfortaa";
            text-align: center;
            color: var(--bg-color);
            background-color: var(--accent-color);
        }
}

@media (min-width: 1280px) {
    .project-hero-btn {
            width: 155px;
            height: 53px;
            border-radius: 10px;
            opacity: 80%;
            margin-left: 155px;
            font: 400 18px "Comfortaa";
            text-align: center;
            color: var(--bg-color);
            background-color: var(--accent-color);
        }
}


.project-projects-section{
  margin-top: 28px;
  margin-bottom: 76px;
}

@media (min-width: 768px) {
.project-projects-section {
    margin-top: 60px;
    margin-bottom: 90px;
}
}

@media (min-width: 1280px) {
    .project-projects-section {
    margin-top: 64px;
    margin-bottom: 104px;
    }
}

.project-projects-title{
    font: 400 72px var(--font-family);
    text-align: center;
    margin-bottom: 28px;
    color: var(--accent-color);
    margin-right: auto;
    margin-left: auto;
    border-bottom: 1px solid var(--text-color);
}

@media (min-width: 768px) {
.project-projects-title {
    font: 400 52px var(--font-family);
    text-align: center;
    margin-bottom: 32px;
    color: var(--accent-color);
    margin-right: auto;
    margin-left: auto;
    border-bottom: 1px solid var(--text-color);
}
}

@media (min-width: 1280px) {
    .project-projects-title {
        font: 400 72px var(--font-family);
        text-align: center;
        margin-bottom: 60px;
        color: var(--accent-color);
        margin-right: auto;
        margin-left: auto;
        border-bottom: 1px solid var(--text-color);
    }
}

.project-projects-lykhachiv-title{
    font: 400 24px var(--font-family);
    letter-spacing: 0.05em;
    color: var(--black-color);
    margin-bottom: 8px;
}

@media (min-width: 768px) {
   .project-projects-lykhachiv-title{
font: 400 32px var(--font-family);
    letter-spacing: 0.05em;
    color: var(--black-color);
    margin-bottom: 20px;
}
}

@media (min-width: 1280px) {
    .project-projects-lykhachiv-title{
font: 400 48px var(--font-family);
    letter-spacing: 0.05em;
    color: var(--black-color);
    margin-bottom: 32px;
}
}

/* .project-projects-lykhachiv-info{
    
}

@media (min-width: 768px) {
   .project-projects-lykhachiv-info{
   
}
}

@media (min-width: 1280px) {
    .project-projects-lykhachiv-info{

}
} */

.project-projects-lykhachiv-info-li{
  display: block;
  margin-bottom: 28px;
}

@media (min-width: 768px) {
   .project-projects-lykhachiv-info-li{
  display: flex;
  margin-bottom: 28px;
}
}

@media (min-width: 1280px) {
    .project-projects-lykhachiv-info-li{
  display: flex;
  margin-bottom: 44px;
  justify-content: space-around;
}
}

.project-projects-lykhachiv-info-txt{
font: 400 15px var(--font-family);
color: var(--black-color);
margin-bottom: 8px;

}

@media (min-width: 768px) {
   .project-projects-lykhachiv-info-txt{
    font: 400 18px var(--font-family);
    color: var(--black-color);
    margin-right: 12px;
    margin-bottom: 0;
}
}

@media (min-width: 1280px) {
    .project-projects-lykhachiv-info-txt{
    font: 400 24px var(--font-family);
    color: var(--black-color);
    margin-bottom: 0;
    margin-right: 20px;
    width: 386px;
}
}

.project-projects-lykhachiv-info-img{
    width: 299px;
    height: 177px;
}

@media (min-width: 768px) {
   .project-projects-lykhachiv-info-img{
    width: 386px;
    height: 261px;
}
}

@media (min-width: 1280px) {
    .project-projects-lykhachiv-info-img{
    width: 590px;
    height: 331px;
}
}

.project-projects-lykhachiv-info-txt-2{
    font: 400 15px var(--font-family);
    text-align: right;
    color: var(--black-color);
    width: 293px;
}

@media (min-width: 768px) {
   .project-projects-lykhachiv-info-txt-2{
    font: 400 18px var(--font-family);
        text-align: right;
        color: var(--black-color);
        width: 265px;
}
}

@media (min-width: 1280px) {
    .project-projects-lykhachiv-info-txt-2{
    font: 400 28px var(--font-family);
    text-align: right;
    width: 488px;
    color: var(--black-color);
}
}

.project-projects-lykhachiv-info-img-2{
    width: 299px;
    height: 177px;
}

@media (min-width: 768px) {
   .project-projects-lykhachiv-info-img-2{
    width: 386px;
    height: 261px;
    margin-right: 13px;
}
}

@media (min-width: 1280px) {
    .project-projects-lykhachiv-info-img-2{
    width: 590px;
    height: 331px;
    margin-right: 20px;
}
}

.project-projects-lykhachiv-main-img{
    width: 90%;
    justify-content: center;
}

@media (min-width: 768px) {
   .project-projects-lykhachiv-main-img{
    width: 90%;
    justify-content: center;
}
}

@media (min-width: 1280px) {
    .project-projects-lykhachiv-main-img{
    width: 996px;
    height: 500px;
    margin-right: auto;
    margin-left: auto;
}
}

.project-projects-weapons-title{

}

@media (min-width: 768px) {
   .project-projects-weapons-title{

}
}

@media (min-width: 1280px) {
    .project-projects-weapons-title{

}
}

.project-projects-weapons-javelin-title{

}

@media (min-width: 768px) {
   .project-projects-weapons-javelin-title{

}
}

@media (min-width: 1280px) {
    .project-projects-weapons-javelin-title{

}
}

.project-projects-weapons-javelin-txt{

}

@media (min-width: 768px) {
   .project-projects-weapons-javelin-txt{

}
}

@media (min-width: 1280px) {
    .project-projects-weapons-javelin-txt{

}
}

.project-projects-weapons-shell-title{

}

@media (min-width: 768px) {
   .project-projects-weapons-shell-title{

}
}

@media (min-width: 1280px) {
    .project-projects-weapons-shell-title{

}
}

.project-projects-weapons-shell-list{

}

@media (min-width: 768px) {
   .project-projects-weapons-shell-list{

}
}

@media (min-width: 1280px) {
    .project-projects-weapons-shell-list{

}
}

.project-projects-weapons-shell-li{

}

@media (min-width: 768px) {
   .project-projects-weapons-shell-li{

}
}

@media (min-width: 1280px) {
    .project-projects-weapons-shell-li{

}
}

.project-projects-weapons-shell-li{

}

@media (min-width: 768px) {
   .project-projects-weapons-shell-li{

}
}

@media (min-width: 1280px) {
    .project-projects-weapons-shell-li{

}
}

.project-projects-weapons-shell-li{

}

@media (min-width: 768px) {
   .project-projects-weapons-shell-li{

}
}

@media (min-width: 1280px) {
    .project-projects-weapons-shell-li{

}
}

.project-footer{

}

@media (min-width: 768px) {
   .project-footer{

}
}

@media (min-width: 1280px) {
    .project-footer{

}
}

.project-footer-txt{

}

@media (min-width: 768px) {
   .project-footer-txt{

}
}

@media (min-width: 1280px) {
    .project-footer-txt{

}
}

.footer-logo{

}

@media (min-width: 768px) {
   .footer-logo{

}
}

@media (min-width: 1280px) {
    .footer-logo{

}
}

.button-footer{

}

@media (min-width: 768px) {
   .button-footer{

}
}

@media (min-width: 1280px) {
    .button-footer{

}
}

.modal{

}

@media (min-width: 768px) {
   .modal{

}
}

@media (min-width: 1280px) {
    .modal{

}
}

.modal-header{

}

@media (min-width: 768px) {
   .modal-header{

}
}

@media (min-width: 1280px) {
    .modal-header{

}
}

.modal-close{

}

@media (min-width: 768px) {
   .modal-close{

}
}

@media (min-width: 1280px) {
    .modal-close{

}
}

.close-svg{

}

@media (min-width: 768px) {
   .close-svg{

}
}

@media (min-width: 1280px) {
    .close-svg{

}
}

.modal-list{

}

@media (min-width: 768px) {
   .modal-list{

}
}

@media (min-width: 1280px) {
    .modal-list{

}
}

.modal-list-li{

}

@media (min-width: 768px) {
   .modal-list-li{

}
}

@media (min-width: 1280px) {
    .modal-list-li{

}
}

.modal-list-txt-active{

}

@media (min-width: 768px) {
   .modal-list-txt-active{

}
}

@media (min-width: 1280px) {
    .modal-list-txt-active{

}
}

.modal-list-txt{

}

@media (min-width: 768px) {
   .modal-list-txt{

}
}

@media (min-width: 1280px) {
    .modal-list-txt{

}
}


















